.account-search {
    margin-right: auto;
}

.account-extend {
    margin-top: 8px;
    color: var(--color-link);
    cursor: pointer;
}

.overlay-form {
    background-color: #0000004d;
    position: fixed;
    z-index: 99;
    inset: 0;
}

.account-form {
    min-width: 800px;
    max-width: 800px;
    width: 800px;
    background-color: #fff;
    height: 100%;
    right: 0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: absolute;
    border-radius: 4px;
    transition: all 0.3s linear;
}

.account-form__footer {
    position: absolute;
    bottom: 24px;
}

.check-icon {
    background:
        url('../../src/assets/img/Sprites.64af8f61.svg')no-repeat -1225px -363px;
    width: 14px;
    height: 11px;
}

.account-checkbox {
    margin: 0 8px 0 0;
}

.account-main {
    padding: 0 24px;
}

.account-track-detail {
    padding: 0 24px;
}

.account-track__title {
    font-size: 16px;
    margin-top: 16px;
    position: relative;
    left: -7px;
}

.account-track__title:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.account-track-detail__icon {
    background: url('../../src/assets/img/Sprites.64af8f61.svg') no-repeat -324px -363px;
    width: 8px;
    height: 10px;
    transition: all 0.25s ease-in;
}

.account-track__left {
    width: 50%;
    float: left;
    padding-right: 64px;
}

.row-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.account-track__left-row {
    justify-content: space-between;
    margin-bottom: 4px;
}

.account-track__right {
    width: 50%;
    float: left;
    padding-right: 64px;
}

.track-detail {
    overflow: hidden;
    transition: all ease-in 0.25s;
}

.account-form__resize {
    width: 12px;
    height: 50px;
    background: #fff;
    border: 1px solid #d4d7dc;
    border-radius: 8px;
    position: absolute;
    align-items: center;
    left: -6px;
    top: 43%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-resize__icon {
    background: url('../../src/assets/img/Sprites.svg') no-repeat -36px -361px;
    width: 8px;
    height: 14px;
}

.account-form--extend {
    min-width: calc(100vw - 6px);
    max-width: calc(100vw - 6px);
    width: calc(100vw - 6px) !important;
    height: 100%;
}