.btn {
    height: 28px;
    border-radius: 2px;
    min-width: 80px;
    border: none;
    color: #fff;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.btn-secondary {
    background-color: #fff;
    border: 1px solid #8d9096;
    color: #212121;
}

.btn-secondary:hover {
    background-color: #d2d3d6;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-danger {
    background-color: #E81E1E;
}

.btn-danger:hover {
    background-color: #ff5353;
}

/* button has icon & content */
.btn__has-icon {
    padding: 0 16px 0 0;
}

.btn__has-icon .btn__has-icon__item {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin: 0 4px 0 12px;
}

/* button has icon*/
.btn-icon {
    width: 36px;
    height: 36px;
    padding: 0 8px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;

}

.btn-icon .btn-icon__item {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

/* combo button */
.cbo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 3px;
    position: relative;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.cbo-btn::after {
    position: absolute;
    content: "";
    width: 1px;
    background-color: #fff;
    height: 70%;
    right: 0;
}

.cbo-icon {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    z-index: 10;
    background-color: var(--primary-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.cbo-icon:hover {
    background-color: var(--secondary-color);
}

.cbo-btn .btn-icon:focus {
    background-color: var(--focus-color);
}

.cbo-list {
    position: absolute;
    position: absolute;
    width: max-content;
    list-style: none;
    max-height: 160px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 4px 16px #171b2a3d;
    height: max-content;
    transition: height 0.2s ease-in;
    overflow: hidden;
    bottom: 42px;
    overflow: auto;
    z-index: 20;
    font-weight: 400;
    right: 16px;
}

.cbo-item {
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #1F1F1F;
    cursor: pointer;
    padding: 0 14px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.cbo-item:hover {
    background-color: #ebedf0;
    color: #2ca01c;
}

.save-add::after {
    content: "Cất và thêm (Ctrl + Shift + S)";
    position: absolute;
    background-color: #434242;
    color: #fff;
    top: 40px;
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    display: none;
    line-height: 18px;
    animation: identifier 0.3s ease-in;
}

/* button disable */
.btn-disable {
    opacity: 0.56;
    cursor: not-allowed;
}

.btn-save {
    position: relative;
}

.btn-save::after {
    content: "Cất (Ctrl + S)";
    position: absolute;
    background-color: #434242;
    color: #fff;
    top: 20px;
    right: 10px;
    width: max-content;
    padding: 4px 8px;
    border-radius: 2px;
    display: none;
    line-height: 18px;
    animation: identifier 0.3s ease-in;
}

.btn-save:hover::after {
    display: block;
}

.btn-save-add {
    position: relative;
}

.btn-save-add::after {
    content: "Cất và thêm (Ctrl + Shift + S)";
    position: absolute;
    background-color: #434242;
    color: #fff;
    top: 20px;
    width: max-content;
    padding: 4px 8px;
    border-radius: 2px;
    right: 10px;
    display: none;
    line-height: 18px;
    animation: identifier 0.3s ease-in;
}

.btn-save-add:hover::after {
    display: block;
}

.cbo-btn-icon {
    background: url('../../src/assets/img/Sprites.svg') no-repeat -852px -365px;
    width: 8px;
    height: 5px;
}

.btn-curved--left {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.btn-curved--right {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}