.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 11px 0;
    position: relative;
}

.content__header-text {
    font-weight: 700;
    font-size: 24px;
}

.content-wrapper {
    background-color: #fff;
    box-shadow: 0 0 3px #01161e29;
    height: calc(100vh - 48px - 71px - 6px);
    padding: 0 12px;
    position: relative;
}

.content-wrapper__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 0 8px 0;
}

.content-wrapper__action-refresh {
    margin-left: 16px;
    position: relative;
    top: 4px;
}

.content-wrapper__action-refresh::before {
    position: absolute;
    content: "Lấy lại dữ liệu";
    width: max-content;
    z-index: 999;
    top: 32px;
    background-color: #434242;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    animation: identifier 0.3s ease-in;
    display: none;
}

.content-wrapper__action-refresh:hover::before {
    display: block;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}

.content-icon:hover {
    top: 18px !important;
}

.content-payment {
    overflow: hidden !important;
}