@import url(./components/button.css);
@import url(./components/textfiled.css);
@import url(./components/sidebar.css);
@import url(./components/header.css);
@import url(./components/navbar.css);
@import url(./components/content.css);
@import url(./components/pagiantion.css);
@import url(./components/table.css);
@import url(./components/modal.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: notosans-regular;
    font-size: 13px;
    line-height: 18px;
}

:root {
    /* color */
    --primary-color: #50B83C;
    --secondary-color: #73C663;
    --primary-bg-color: #DCF1D8;
    --focus-color: #067933;
    --border-color: #E0E0E0;
    --error-color: #E61D1D;

    --table-bg-color: #e5f3ff;
    --table-bg-color-hover: #f2f9ff;
}

@font-face {
    font-family: notosans-regular;
    src: url(../fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: notosans-italic;
    src: url(../fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
    font-family: notosans-bold;
    src: url(../fonts/notosans-bold.3ede5aff.woff2);
}

body {
    width: 100%;
}

.container {
    display: flex;
}

.navbar {
    width: 178px;
    height: 100vh;
    background-color: #041434;
    /* overflow: hidden; */
}

.main {
   /* width: calc(100% - 178px); */
   overflow: auto;
}

.header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px #01161e29;
}

.content {
    height: calc(100vh - 48px);
    background-color: #eceef1;
    padding: 0 30px 0 20px;
    overflow: auto;
}

.required {
    color: var(--error-color);
}